@tailwind base;
@tailwind components;
@tailwind utilities;

.main-body {
  background-color: #00603b;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #00603b 40px
    ),
    repeating-linear-gradient(#008a4555, #008a45);
}
